<div class=" row">
    <div class=" col-sm-4"></div>
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4></h4>
            </div>
            <div class="modal-body">
                ......
            </div>
            <div class=" modal-footer">
                <button class="btn btn-primary" id="btnOk" onclick="">OK</button>
                <button class="btn btn-default" data-dismiss="modal" id="btnCancle">Cancle</button>
            </div>
        </div>
    </div>
</div>
