@model PagedList.IPagedList<DataContext.DataTable.Account>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Tài Khoản</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
                    {
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <input type="text" value="@ViewBag.seaching" name="seach" />
                            </div>
                            <div class="col-lg-4">
                                <input type="submit" value="Tìm Kiếm" />

                            </div>
                        </div>
                        <br />
                        <br />


                    }

                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="96%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">#</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 246px;">Tên Tài Khoản</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 114px;">Quyền</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Trạng Thái</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">#</th>
                                    <th rowspan="1" colspan="1">Tên Tài Khoản</th>
                                    <th rowspan="1" colspan="1">Quyền</th>
                                    <th rowspan="1" colspan="1">Trạng Thái</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Admin/FormEdit/@item.UserName">Sửa</a><br />

                                        </td>

                                        <td>@item.UserName</td>
                                        @if (item.Access == 0)
                                        {
                                            <td>Admin</td>
                                        }
                                        else if (item.Access == 1)
                                        {
                                            <td>Phòng Quản Lý</td>
                                        }
                                        else
                                        {
                                            <td>Người Dùng</td>
                                        }
                                        @if (item.Status == "0")
                                        {
                                            <td>Đang Sử Dụng</td>

                                        }
                                        else
                                        {
                                            <td>Đã Khóa</td>
                                        }


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @seach = @ViewBag.seaching }))

            </div>
        </div>
    </div>
</div>

