
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="sidebar-heading">

        <h6 style="color:black;text-align:center;padding-top:10px">Quản Trị</h6>
    </div>
    <hr class="sidebar-divider">
    

    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Divider -->
    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="@Url.Action("CreateTopicStd","Home") >
            <i class="far fa-address-book"></i>
            <span>Đăng Ký Đề Tài</span>
        </a>
        
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="https://drive.google.com/drive/u/1/my-drive">
            <i class="fas fa-book-open"></i>
            <span>Văn Bản- Biểu Mẫu</span>
        </a>

    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/bang-diem">
            <i class="fas fa-file-excel"></i>
            <span>Bảng Điểm</span>
        </a>

    </li>
    <hr class="sidebar-divider">

    <hr class="sidebar-divider">
</ul>

