<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="sidebar-heading">

        <h6 style="color:black;text-align:center;padding-top:10px">Quản Trị</h6>
    </div>
    <hr class="sidebar-divider">
    <li class="nav-item">

        <a class="nav-link collapsed" href="@Url.Action("Index","Account")">
            <i class="fas fa-user-circle"></i>
            <span>Tài Khoản</span>
        </a>

    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Divider -->
    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="far fa-address-book"></i>
            <span>Đề Tài</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">Đăng Ký</a>
                <a class="collapse-item" href="">Cập Nhật Hoạt Động</a>
                <a class="collapse-item" href="">Gia Hạn</a>
                <a class="collapse-item" href="">Hủy Bỏ Đề Tài</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="">
            <i class="fas fa-book-open"></i>
            <span>Văn Bản- Biểu Mẫu</span>
        </a>

    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="">
            <i class="fas fa-file-excel"></i>
            <span>Bảng Điểm</span>
        </a>

    </li>
    <hr class="sidebar-divider">

    <hr class="sidebar-divider">
</ul>


